body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    line: 1.2;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 2rem; 
    margin-bottom: -10px;
}

nav p {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav,
.header {
    background-color:#1F2937;
    color: white;
}

.header h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0;
}

.header p {
    font-size: 18px;
    color: #E5E7EB;
}

.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}
.content {
    display:flex;
    flex-direction: column;
    gap:  0 0.5em;
    padding: 10px 0px;
    max-width: 50%;
}
.content button {
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 5px;
    max-width: 20%;
    font-size: 18px;
    border: 0;
}




